In [1]:
import pandas as pd
from pandas import json_normalize
from tqdm import tqdm
import time
import os
import requests
from bs4 import BeautifulSoup
import json

In [2]:
Date_Y = time.strftime('%Y')
Date_Ym = time.strftime('%Y%m')

headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.106 Whale/2.8.108.15 Safari/537.36'}
base_url = 'https://www.bandtrass.or.kr/customs/total.do?command=CUS00201_POPDetail&SELECT_DIV1=GODS_DIV&GODS_TYPE=H&FILTER1_GODS_UNIT=10&MENU_CODE=CUS00201_POP&BASE_YEAR={}&MAX_YEAR_MON={}&niceIfr=N&icol=1&t_page=1&t_pageRowCount=15&SelectCd={}&S0010003=M'

In [3]:
OLED_Cd = (8524121000 ,8524122000 ,8524123000 ,8524124000 ,8524125000 ,8524129000 ,8524921000 ,8524922000 ,8524923000 ,8524924000 ,8524925000 ,8524929000 ,8529906023 ,8531909000 ,8548009000)

for n in tqdm(OLED_Cd):
    url = base_url.format(Date_Y, Date_Ym, n)
    try:
        html = requests.get(url, headers = headers).text
    except:
        print("네트워크 연결이 끊겨 대기합니다.")
        time.sleep(2)
        html = requests.get(url, headers = headers).text
    # soup = BeautifulSoup(html, 'html.parser')
    json_object = json.loads(html)
    df = pd.read_json(json_object['gridData'])

100%|██████████| 15/15 [00:04<00:00,  3.01it/s]

In [4]:
df = pd.read_json(json_object['gridData'])
df

          EX_WGHT      IM_WGHT     BASE_DATE           EX_AMT    IM_AMT
0    1046935.6200  618374.3400         2022년  42743497.000000  38395607
1     236835.0200  148747.6700           01월  11001430.000000   9028859
2     296021.6900  123628.8400           02월  11187896.000000   8587971
3     270520.1900  169400.2700           03월  10609265.000000   9747703
4     243558.7200  176597.5700           04월   9944906.000000  11031074
..            ...          ...           ...              ...       ...
286                                      08월
287                                      09월
288                                      10월
289                                      11월
290                                      12월

[291 rows x 5 columns]

In [11]:
for i, value in df.iterrows():
    print(value)

EX_WGHT         1046935.6200
IM_WGHT          618374.3400
BASE_DATE              2022년
EX_AMT       42743497.000000
IM_AMT              38395607
Name: 0, dtype: object
EX_WGHT          236835.0200
IM_WGHT          148747.6700
BASE_DATE                01월
EX_AMT       11001430.000000
IM_AMT               9028859
Name: 1, dtype: object
EX_WGHT          296021.6900
IM_WGHT          123628.8400
BASE_DATE                02월
EX_AMT       11187896.000000
IM_AMT               8587971
Name: 2, dtype: object
EX_WGHT          270520.1900
IM_WGHT          169400.2700
BASE_DATE                03월
EX_AMT       10609265.000000
IM_AMT               9747703
Name: 3, dtype: object
EX_WGHT         243558.7200
IM_WGHT         176597.5700
BASE_DATE               04월
EX_AMT       9944906.000000
IM_AMT             11031074
Name: 4, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2021년
EX_AMT
IM_AMT
Name: 5, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 6, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 7, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 8, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 9, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 10, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 11, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 12, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 13, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 14, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 15, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 16, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 17, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2020년
EX_AMT
IM_AMT
Name: 18, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 19, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 20, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 21, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 22, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 23, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 24, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 25, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 26, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 27, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 28, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 29, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 30, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2019년
EX_AMT
IM_AMT
Name: 31, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 32, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 33, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 34, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 35, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 36, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 37, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 38, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 39, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 40, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 41, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 42, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 43, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2018년
EX_AMT
IM_AMT
Name: 44, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 45, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 46, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 47, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 48, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 49, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 50, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 51, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 52, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 53, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 54, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 55, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 56, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2017년
EX_AMT
IM_AMT
Name: 57, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 58, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 59, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 60, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 61, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 62, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 63, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 64, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 65, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 66, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 67, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 68, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 69, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2016년
EX_AMT
IM_AMT
Name: 70, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 71, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 72, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 73, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 74, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 75, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 76, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 77, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 78, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 79, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 80, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 81, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 82, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2015년
EX_AMT
IM_AMT
Name: 83, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 84, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 85, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 86, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 87, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 88, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 89, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 90, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 91, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 92, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 93, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 94, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 95, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2014년
EX_AMT
IM_AMT
Name: 96, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 97, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 98, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 99, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 100, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 101, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 102, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 103, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 104, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 105, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 106, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 107, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 108, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2013년
EX_AMT
IM_AMT
Name: 109, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 110, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 111, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 112, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 113, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 114, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 115, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 116, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 117, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 118, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 119, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 120, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 121, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2012년
EX_AMT
IM_AMT
Name: 122, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 123, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 124, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 125, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 126, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 127, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 128, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 129, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 130, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 131, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 132, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 133, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 134, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2011년
EX_AMT
IM_AMT
Name: 135, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 136, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 137, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 138, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 139, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 140, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 141, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 142, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 143, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 144, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 145, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 146, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 147, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2010년
EX_AMT
IM_AMT
Name: 148, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 149, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 150, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 151, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 152, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 153, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 154, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 155, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 156, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 157, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 158, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 159, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 160, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2009년
EX_AMT
IM_AMT
Name: 161, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 162, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 163, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 164, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 165, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 166, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 167, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 168, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 169, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 170, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 171, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 172, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 173, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2008년
EX_AMT
IM_AMT
Name: 174, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 175, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 176, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 177, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 178, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 179, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 180, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 181, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 182, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 183, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 184, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 185, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 186, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2007년
EX_AMT
IM_AMT
Name: 187, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 188, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 189, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 190, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 191, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 192, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 193, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 194, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 195, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 196, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 197, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 198, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 199, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2006년
EX_AMT
IM_AMT
Name: 200, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 201, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 202, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 203, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 204, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 205, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 206, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 207, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 208, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 209, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 210, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 211, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 212, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2005년
EX_AMT
IM_AMT
Name: 213, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 214, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 215, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 216, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 217, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 218, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 219, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 220, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 221, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 222, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 223, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 224, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 225, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2004년
EX_AMT
IM_AMT
Name: 226, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 227, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 228, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 229, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 230, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             05월
EX_AMT
IM_AMT
Name: 231, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             06월
EX_AMT
IM_AMT
Name: 232, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             07월
EX_AMT
IM_AMT
Name: 233, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             08월
EX_AMT
IM_AMT
Name: 234, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             09월
EX_AMT
IM_AMT
Name: 235, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             10월
EX_AMT
IM_AMT
Name: 236, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             11월
EX_AMT
IM_AMT
Name: 237, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             12월
EX_AMT
IM_AMT
Name: 238, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE    2003년
EX_AMT
IM_AMT
Name: 239, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             01월
EX_AMT
IM_AMT
Name: 240, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             02월
EX_AMT
IM_AMT
Name: 241, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             03월
EX_AMT
IM_AMT
Name: 242, dtype: object
EX_WGHT
IM_WGHT
BASE_DATE             04월
EX_AMT
IM_AMT
Name: 243, dtype: object
EX_WGHT
IM_WGHT

In [5]:
# https://www.bandtrass.or.kr/customs/total.do?command=CUS00201_POPDetail
# &SELECT_DIV1=GODS_DIV
# &GODS_TYPE=H
# &FILTER1_GODS_UNIT=10
# &MENU_CODE=CUS00201_POP
# &BASE_YEAR=2022
# &MAX_YEAR_MON=202204
# &niceIfr=N
# &icol=1
# &t_page=1
# &t_pageRowCount=15
# &SelectCd=8524122000
# &S0010003=M # M=월 S=분기